@import "http://fonts.googleapis.com/css?family=Droid+Sans";
form{
    background-color:#fff
}
#maindiv{
    width:540px;
    margin:0px auto;
    padding:10px;
    font-family:'Droid Sans',sans-serif;
    height: 255px;
    background-color: #C9C9F6;
    border-radius: 250px;
}
#formdiv{
    width: 480px;
    float: left;
    text-align: center;
    padding: 0px 30px;
}
form{
    padding:40px 20px;
    box-shadow:0 0 10px;
    border-radius:15px;
    height:160px;
}
h2{
    margin-left:30px
}
input[type=text] {
    width: 240px;
    border-radius: 4px;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 5px #c9c9c9;
    border: 2px solid #c9c9c9;
    color: #4f4f4f;
    font-size: 16px;
}
button.btn {
    height: 40px;
    margin: 30px 55px;
    padding: 0 20px;
    background: #c9c9ff;
    font-size: 16px;
    font-weight: 300;
    float:left;
    border-radius: 5px;


}


#file{
    color:green;
    padding:5px;
    border:1px dashed #123456;
    background-color:#f9ffe5
}

#noerror{
    color:green;
    text-align:left
}
#error{
    color:red;
    text-align:left
}
#img{
    width:17px;
    border:none;
    height:17px;
    margin-left:-20px;
    margin-bottom:91px
}
.abcd{
    text-align:center
}
.abcd img{
    height:100px;
    width:100px;
    padding:5px;
    border:1px solid #e8debd
}
b{
    color:red
}
