/* Below line is used for online Google font */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
h1{
    text-align: center;
    font-size: 25px;
}
div.container{
    width: 405px;
    height: 610px;
    margin:0px auto;
    font-family: 'Droid Serif', serif;
    position:relative;
}
div.main{
    width: 320px;
    float: left;
    padding: 40px;
    background: wheat;
    border: 1px dotted #CBB;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    font-size: 14px;
}
input[type=text],textarea {
    width: 97.7%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 5px;
    border: 1px solid #b7b7b7;
    color: #4f4f4f;
    font-size: 16px;
}
button.btn {
    height: 30px;
    margin: 7px 0px;
    padding: 0 20px;
    background: #a3a3c4;
    font-size: 16px;
    font-weight: 300;
    float:left;
    border-radius: 2px;
}
textarea{
    height: 60px;
    resize: none;
}
input[type=radio],[type=checkbox]{
    margin:10px 10px 0 10px;
}
label{
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}
#btn{
    font-size: 17px;
    border: 1px solid gray;
    padding: 7px 35px;
    background-color: #E3B5F5;
    font-weight:bold;
    box-shadow: 0 0 5px;
    border-radius: 2px;
    cursor: pointer;
    width:100%;
}